*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{

    background:#202123;
    color:white;

}

.container{

    width:90%;
    max-width:900px;

    margin:30px auto;

}

h1{

    text-align:center;
    margin-bottom:20px;

}

#chat{

    height:500px;

    background:#343541;

    border-radius:10px;

    padding:20px;

    overflow-y:auto;

}

.user{

    background:#19c37d;

    padding:12px;

    border-radius:10px;

    margin:10px 0;

}

.bot{

    background:#444654;

    padding:12px;

    border-radius:10px;

    margin:10px 0;

}

.bottom{

    display:flex;

    margin-top:20px;

}

input{

    flex:1;

    padding:15px;

    font-size:18px;

    border:none;

    border-radius:10px;

}

button{

    margin-left:10px;

    padding:15px 30px;

    border:none;

    border-radius:10px;

    background:#19c37d;

    color:white;

    cursor:pointer;

    font-size:18px;

}

button:hover{

    background:#14a56b;

}